In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('kc_house_data_2.csv')

In [15]:
print(data.head())

           id             date     price  bedrooms  bathrooms  sqft_living  \
0  7129300520  20141013T000000  221900.0         3       1.00         1180
1  6414100192  20141209T000000  538000.0         3       2.25         2570
2  5631500400  20150225T000000  180000.0         2       1.00          770
3  2487200875  20141209T000000  604000.0         4       3.00         1960
4  1954400510  20150218T000000  510000.0         3       2.00         1680

   sqft_lot  floors  waterfront  view  ...  sqft_basement  yr_built  \
0      5650     1.0           0     0  ...              0      1955
1      7242     2.0           0     0  ...            400      1951
2     10000     1.0           0     0  ...              0      1933
3      5000     1.0           0     0  ...            910      1965
4      8080     1.0           0     0  ...              0      1987

   yr_renovated  zipcode      lat     long  sqft_living15  sqft_lot15  \
0             0    98178  47.5112 -122.257           1340        5650
1          1991    98125  47.7210 -122.319           1690        7639
2             0    98028  47.7379 -122.233           2720        8062
3             0    98136  47.5208 -122.393           1360        5000
4             0    98074  47.6168 -122.045           1800        7503

   price_per_sqft_living  age_of_house
0             188.050847            70
1             209.338521            74
2             233.766234            92
3             308.163265            60
4             303.571429            38

[5 rows x 23 columns]

In [9]:
# Добавить новый признак price_per_sqft_living, который будет
# содержать среднюю стоимость за квадратный метр жилой площади (price /
# sqft_living).
data['price_per_sqft_living'] = data['price'] / data['sqft_living']

In [13]:
# Создать новый признак age_of_house, который будет содержать возраст
# дома (текущий год минус год постройки yr_built).
cur_year = pd.to_datetime('today').year
data['age_of_house'] = cur_year - data['yr_built']

In [17]:
 # Удалить признаки zipcode, lat, long и сохранить измененные данные в
 # новый CSV файл modified_data.csv.
new_data = data.drop(columns = ['zipcode', 'lat', 'long'])
new_data.to_csv('modified_data.csv', index=False)

In [19]:
# Найти дома с видом на набережную, стоимостью выше 500 000 и более чем
# 2000 квадратных метров жилой площади.
# Сохранить информацию о таких домах в новый CSV-файл.
filter_houses = data[
                (data['waterfront'] == 1) &
                (data['price'] > 500000) &
                (data['sqft_living'] > 2000)
                ]
filter_houses.to_csv('expensive_houses.csv', index=False)

In [43]:
# Построить DataFrame с колонками sqft_living, condition и price.
# Определить среднюю стоимость за квадратный метр жилой площади для
# разных состояний домов и сохраните в текстовый файл.
filtered_data = data[['sqft_living', 'condition', 'price']]
filtered_data.loc[:, 'price_per_sqft'] = filtered_data['price'] / filtered_data['sqft_living']
mean_condition = filtered_data.groupby('condition')['price_per_sqft'].mean()

with open('living_vs_condition_analysis.txt', 'w', encoding='UTF-8') as f:
    for condition, mean in mean_condition.items():
        f.write(f"Состояние: {condition} \t Средняя стоимость за кв.метр: {mean}\n")

C:\Users\chiffka\AppData\Local\Temp\ipykernel_19188\421799367.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data.loc[:, 'price_per_sqft'] = filtered_data['price'] / filtered_data['sqft_living']

In [45]:
# Создайте датафрейм с покупками и сохраните его в переменную purchases.
purchases = pd.DataFrame({
        'purchase_id': [2001, 2002, 2003, 2004, 2005],
        'client_id': [1001, 1002, 1003, 1001, 1005],
        'house_id': [1234567890, 9876543210, 4567891230, 5566778899, 1122334455]
})

In [47]:
 # Создайте датафрейм с информацией о клиентах и сохраните его в переменную clients_info.
clients_info = pd.DataFrame({
        'client_id': [1001, 1002, 1003, 1004, 1005],
        'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'age': [30, 40, 35, 45, 50]
})

In [49]:
 # Присоедините информацию о клиентах к таблице purchases через метод join
 # и сохраните в переменную purchases_with_info.
purchases_with_info = purchases.join(clients_info.set_index('client_id'), on='client_id')

In [51]:
# Присоедините информацию о клиентах к таблице purchases через метод
# merge и сохраните в переменную purchases_with_info_merged
purchases_with_info_merged = pd.merge(purchases, clients_info, on='client_id')

In [53]:
# Сохраните результаты в CSV файлы purchases_with_info.csv и
# purchases_with_info_merged.csv.
purchases_with_info.to_csv('purchases_with_info.csv', index=False)
purchases_with_info_merged.to_csv('purchases_with_info_merged.csv', index=False)