 Скачать файл в уроке
 Считать данные с помощью pandas
 Вывести на экран первые 5 строк
 Посмотреть на описание признаков и на их содержание

In [3]:
import pandas as pd

In [5]:
data = pd.read_csv("kc_house_data.csv")

In [7]:
print(data.head())

           id             date     price  bedrooms  bathrooms  sqft_living  \
0  7129300520  20141013T000000  221900.0         3       1.00         1180
1  6414100192  20141209T000000  538000.0         3       2.25         2570
2  5631500400  20150225T000000  180000.0         2       1.00          770
3  2487200875  20141209T000000  604000.0         4       3.00         1960
4  1954400510  20150218T000000  510000.0         3       2.00         1680

   sqft_lot  floors  waterfront  view  ...  grade  sqft_above  sqft_basement  \
0      5650     1.0           0     0  ...      7        1180              0
1      7242     2.0           0     0  ...      7        2170            400
2     10000     1.0           0     0  ...      6         770              0
3      5000     1.0           0     0  ...      7        1050            910
4      8080     1.0           0     0  ...      8        1680              0

   yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
0      1955             0    98178  47.5112 -122.257           1340
1      1951          1991    98125  47.7210 -122.319           1690
2      1933             0    98028  47.7379 -122.233           2720
3      1965             0    98136  47.5208 -122.393           1360
4      1987             0    98074  47.6168 -122.045           1800

   sqft_lot15
0        5650
1        7639
2        8062
3        5000
4        7503

[5 rows x 21 columns]

In [9]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB
None

In [11]:
print(data.isnull().sum())

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [17]:
print(data.describe())

                 id         price      bedrooms     bathrooms   sqft_living  \
count  2.161300e+04  2.161300e+04  21613.000000  21613.000000  21613.000000
mean   4.580302e+09  5.400881e+05      3.370842      2.114757   2079.899736
std    2.876566e+09  3.671272e+05      0.930062      0.770163    918.440897
min    1.000102e+06  7.500000e+04      0.000000      0.000000    290.000000
25%    2.123049e+09  3.219500e+05      3.000000      1.750000   1427.000000
50%    3.904930e+09  4.500000e+05      3.000000      2.250000   1910.000000
75%    7.308900e+09  6.450000e+05      4.000000      2.500000   2550.000000
max    9.900000e+09  7.700000e+06     33.000000      8.000000  13540.000000

           sqft_lot        floors    waterfront          view     condition  \
count  2.161300e+04  21613.000000  21613.000000  21613.000000  21613.000000
mean   1.510697e+04      1.494309      0.007542      0.234303      3.409430
std    4.142051e+04      0.539989      0.086517      0.766318      0.650743
min    5.200000e+02      1.000000      0.000000      0.000000      1.000000
25%    5.040000e+03      1.000000      0.000000      0.000000      3.000000
50%    7.618000e+03      1.500000      0.000000      0.000000      3.000000
75%    1.068800e+04      2.000000      0.000000      0.000000      4.000000
max    1.651359e+06      3.500000      1.000000      4.000000      5.000000

              grade    sqft_above  sqft_basement      yr_built  yr_renovated  \
count  21613.000000  21613.000000   21613.000000  21613.000000  21613.000000
mean       7.656873   1788.390691     291.509045   1971.005136     84.402258
std        1.175459    828.090978     442.575043     29.373411    401.679240
min        1.000000    290.000000       0.000000   1900.000000      0.000000
25%        7.000000   1190.000000       0.000000   1951.000000      0.000000
50%        7.000000   1560.000000       0.000000   1975.000000      0.000000
75%        8.000000   2210.000000     560.000000   1997.000000      0.000000
max       13.000000   9410.000000    4820.000000   2015.000000   2015.000000

            zipcode           lat          long  sqft_living15     sqft_lot15
count  21613.000000  21613.000000  21613.000000   21613.000000   21613.000000
mean   98077.939805     47.560053   -122.213896    1986.552492   12768.455652
std       53.505026      0.138564      0.140828     685.391304   27304.179631
min    98001.000000     47.155900   -122.519000     399.000000     651.000000
25%    98033.000000     47.471000   -122.328000    1490.000000    5100.000000
50%    98065.000000     47.571800   -122.230000    1840.000000    7620.000000
75%    98118.000000     47.678000   -122.125000    2360.000000   10083.000000
max    98199.000000     47.777600   -121.315000    6210.000000  871200.000000

 Проведите первичный анализ данных
 Изучите типы данных
 Найдите количество пропущенных ячеек в данных
 Посчитайте основные статистики по всем признакам и поизучайте их
 Пишите выводы

In [25]:
print(data.dtypes)

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [27]:
print(data.isnull().sum())

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [29]:
print(data.describe())

                 id         price      bedrooms     bathrooms   sqft_living  \
count  2.161300e+04  2.161300e+04  21613.000000  21613.000000  21613.000000
mean   4.580302e+09  5.400881e+05      3.370842      2.114757   2079.899736
std    2.876566e+09  3.671272e+05      0.930062      0.770163    918.440897
min    1.000102e+06  7.500000e+04      0.000000      0.000000    290.000000
25%    2.123049e+09  3.219500e+05      3.000000      1.750000   1427.000000
50%    3.904930e+09  4.500000e+05      3.000000      2.250000   1910.000000
75%    7.308900e+09  6.450000e+05      4.000000      2.500000   2550.000000
max    9.900000e+09  7.700000e+06     33.000000      8.000000  13540.000000

           sqft_lot        floors    waterfront          view     condition  \
count  2.161300e+04  21613.000000  21613.000000  21613.000000  21613.000000
mean   1.510697e+04      1.494309      0.007542      0.234303      3.409430
std    4.142051e+04      0.539989      0.086517      0.766318      0.650743
min    5.200000e+02      1.000000      0.000000      0.000000      1.000000
25%    5.040000e+03      1.000000      0.000000      0.000000      3.000000
50%    7.618000e+03      1.500000      0.000000      0.000000      3.000000
75%    1.068800e+04      2.000000      0.000000      0.000000      4.000000
max    1.651359e+06      3.500000      1.000000      4.000000      5.000000

              grade    sqft_above  sqft_basement      yr_built  yr_renovated  \
count  21613.000000  21613.000000   21613.000000  21613.000000  21613.000000
mean       7.656873   1788.390691     291.509045   1971.005136     84.402258
std        1.175459    828.090978     442.575043     29.373411    401.679240
min        1.000000    290.000000       0.000000   1900.000000      0.000000
25%        7.000000   1190.000000       0.000000   1951.000000      0.000000
50%        7.000000   1560.000000       0.000000   1975.000000      0.000000
75%        8.000000   2210.000000     560.000000   1997.000000      0.000000
max       13.000000   9410.000000    4820.000000   2015.000000   2015.000000

            zipcode           lat          long  sqft_living15     sqft_lot15
count  21613.000000  21613.000000  21613.000000   21613.000000   21613.000000
mean   98077.939805     47.560053   -122.213896    1986.552492   12768.455652
std       53.505026      0.138564      0.140828     685.391304   27304.179631
min    98001.000000     47.155900   -122.519000     399.000000     651.000000
25%    98033.000000     47.471000   -122.328000    1490.000000    5100.000000
50%    98065.000000     47.571800   -122.230000    1840.000000    7620.000000
75%    98118.000000     47.678000   -122.125000    2360.000000   10083.000000
max    98199.000000     47.777600   -121.315000    6210.000000  871200.000000

In [31]:
print("Диапазон цен:",data['price'].min(),"-", data['price'].max())
print("Диапазон жилой площади:",data['sqft_living'].min(),"-", data['sqft_living'].max())

Диапазон цен: 75000.0 - 7700000.0
Диапазон жилой площади: 290 - 13540

In [33]:
print(data['waterfront'].value_counts())
print(data['view'].value_counts())
print(data['condition'].value_counts())
print(data['grade'].value_counts())

waterfront
0    21450
1      163
Name: count, dtype: int64
view
0    19489
2      963
3      510
1      332
4      319
Name: count, dtype: int64
condition
3    14031
4     5679
5     1701
2      172
1       30
Name: count, dtype: int64
grade
7     8981
8     6068
9     2615
6     2038
10    1134
11     399
5      242
12      90
4       29
13      13
3        3
1        1
Name: count, dtype: int64

 Ответьте на несколько вопросов

In [ ]:
#  3.1 В каком диапазоне изменяются стоимости недвижимости?
price_range = data['price'].min(), data['price'].max()
print("Диапазон стоимости недвижимости:", price_range)

In [39]:
 #  3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?
data['living_ratio'] = data['sqft_living'] / data['sqft_lot']
average_living_ratio = data['living_ratio'].mean()
print("Средняя доля жилой площади: ", average_living_ratio)

Средняя доля жилой площади:  0.3237447254204737

In [41]:
 # 3.3 Как много домов с разными этажами в данных?
floors_distribution = data['floors'].value_counts()
print("Распределение домов по этажам: ", floors_distribution)

Распределение домов по этажам:  floors
1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: count, dtype: int64

In [45]:
 # 3.4 Насколько хорошие состояния у домов в данных?
average_condition = data['condition'].mean()
print("Среднее состояние домов: ", average_condition)

Среднее состояние домов:  3.4094295100171195

In [47]:
 # 3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?
 yr_built_range = data['yr_built'].min(), data['yr_built'].max()
 print("Года постройки первого и последнего дома:", yr_built_range)

Года постройки первого и последнего дома: (1900, 2015)

Ответьте на несколько вопросов

In [51]:
# 4.1 Сколько в среднем стоят дома, у которых 2 спальни?
average_price_2_bedrooms = data[data['bedrooms'] == 2]['price'].mean()
print("Средняя стоимость домов с двумя спальнями: ", average_price_2_bedrooms)

Средняя стоимость домов с двумя спальнями:  401372.681884058

In [53]:
# 4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?
average_sqft_expensive = data[data['price'] > 600000]['sqft_living'].mean()
print("Средняя площадь домов стоимостью больше 600 000: ", average_sqft_expensive)

Средняя площадь домов стоимостью больше 600 000:  2895.47442455243

In [61]:
# 4.3 Как много домов коснулся ремонт?
renovated_houses_count = data[data['yr_renovated'] != 0].shape[0]
print(renovated_houses_count, " домов были отремонтированы.")

914  домов были отремонтированы.

In [65]:
# 4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 
# отличается от стоимости домов с оценкой grade меньше 4?
price_high_grade = data[data['grade'] > 10]['price'].mean()
price_low_grade = data[data['grade'] < 4]['price'].mean()
print("Средняя стоимость домов с рейтингом выше 10 " \
    "отличается от средней стоимости домов с рейтингом ниже 4 на " \
      , price_high_grade - price_low_grade)

Средняя стоимость домов с рейтингом выше 10 отличается от средней стоимости домов с рейтингом ниже 4 на  1488885.1175298805

In [67]:
print(data.head())

           id             date     price  bedrooms  bathrooms  sqft_living  \
0  7129300520  20141013T000000  221900.0         3       1.00         1180
1  6414100192  20141209T000000  538000.0         3       2.25         2570
2  5631500400  20150225T000000  180000.0         2       1.00          770
3  2487200875  20141209T000000  604000.0         4       3.00         1960
4  1954400510  20150218T000000  510000.0         3       2.00         1680

   sqft_lot  floors  waterfront  view  ...  sqft_above  sqft_basement  \
0      5650     1.0           0     0  ...        1180              0
1      7242     2.0           0     0  ...        2170            400
2     10000     1.0           0     0  ...         770              0
3      5000     1.0           0     0  ...        1050            910
4      8080     1.0           0     0  ...        1680              0

   yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
0      1955             0    98178  47.5112 -122.257           1340
1      1951          1991    98125  47.7210 -122.319           1690
2      1933             0    98028  47.7379 -122.233           2720
3      1965             0    98136  47.5208 -122.393           1360
4      1987             0    98074  47.6168 -122.045           1800

   sqft_lot15  living_ratio
0        5650      0.208850
1        7639      0.354874
2        8062      0.077000
3        5000      0.392000
4        7503      0.207921

[5 rows x 22 columns]

In [73]:
# 5.1 Выберите дом клиенту
# Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с
# подвалом. Сколько вариантов есть у клиента?
house_for_client_1 = data[
            (data['waterfront'] == 1) &
            (data['bathrooms'] >= 3) &
            (data['sqft_basement'] > 0)
            ].shape[0]
print("Вариантов по запросу клиента 1: ", house_for_client_1)

Вариантов по запросу клиента 1:  41

In [75]:
#  5.2 Выберите дом клиенту
# Клиент хочет дом либо с очень красивым видом из окна, либо с видом на
# набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В
# какой ценовом диапазоне будут дома?
min_price_for_client_2 = data[
                ((data['view'] > 0) | (data['waterfront'] == 1)) &
                (data['condition']  >= 4) &
                (data['yr_built'] >= 1980)
                ]['price'].min()
max_price_for_client_2 = data[
                ((data['view'] > 0) | (data['waterfront'] == 1)) &
                (data['condition']  >= 4) &
                (data['yr_built'] >= 1980)
                ]['price'].max()
print(f"Ценовой диапазон домов по запросу клиента 2: от {min_price_for_client_2} до {max_price_for_client_2}")

Ценовой диапазон домов по запросу клиента 2: от 308950.0 до 5300000.0

In [81]:
#  5.2 Выберите дом клиенту - ******Вариант два*******
# Клиент хочет дом либо с очень красивым видом из окна, либо с видом на
# набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В
# какой ценовом диапазоне будут дома?
houses_for_client_2 = data[
                ((data['view'] > 0) | (data['waterfront'] == 1)) &
                (data['condition']  >= 4) &
                (data['yr_built'] >= 1980)
                ]
price_range_for_client_2 = (houses_for_client_2['price'].min(), houses_for_client_2['price'].max())
print("Ценовой диапазон домов по запросу клиента 2: ", *price_range_for_client_2)

Ценовой диапазон домов по запросу клиента 2:  308950.0 5300000.0

In [87]:
# 5.3 Выберите дом клиенту
# Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150 000.
# Какая оценка по состоянию у таких домов в среднем?
houses_for_client_3 = data[
            (data['sqft_basement'] == 0) &
            (data['floors'] == 2.0) &
            (data['price'] < 150000)
            ]
avg_rate = houses_for_client_3['condition'].mean()
print("Средняя оценка состояния домов по запросу клиента 3: ", avg_rate)

Средняя оценка состояния домов по запросу клиента 3:  2.8333333333333335